.container {
    width: 90%;
    margin: 0 auto;
}

/* product styles */
.main > div {
    flex: 1 1 60%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.product-image-wrapper {
    /*flex-basis: 60%;*/
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product-description-wrapper {
    flex: 1;
    margin-left: 20px;
}

.product-image-wrapper > * {
    width: 100%;
}

.product-banner-image {
    align-self: center;
    margin-bottom: 20px;
    /*max-width: 600px;*/
}
.list-product-images{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product-extra-images {
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.product-image-bounder {
    width: 100px;
    height: 100px;
    padding: 5px;
    cursor: pointer;
}

.product-image-bounder:hover {
    border: 2px solid rgb(209, 206, 206);
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    color: #F67A80;
}


.product-discounted-price {
    font-size: 18px;
    color: #7E7E7E;
    line-height: 32px !important;
}

.product-save-price {
    font-size: 18px;
    color: #73a91d;
    line-height: 32px !important;
}

.product-buy-buttons {
    margin-top: 15px;
    background: #F67A80;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    padding: 10px 30px;
    height: auto;
    line-height: inherit;
    border-radius: 5px;
    border: none;
}

.txt-main {
    color: #f0f0f0;
}

.product-details {
    margin-top: 30px;
    border-top: 1px dashed #F67A80;
}

.title-product {
    font-weight: bolder;
    margin: 0;
    padding-top: 20px;
}

.content-product {
    font-size: 14px;
    color: #8b8d8e;
    font-weight: normal;
    padding-top: 5px;
}

.product-link {
    margin-top: 30px;
    border-top: 1px dashed #F67A80;
    align-items: flex-end;
    justify-content: space-evenly;
}

.social-share {
    flex: 1;
}

.social-share p {
    font-weight: bolder;
}

.social-icon {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 5px;
}

.payment_product img {
    width: 50px;
    padding: 0 5px;
}

.product-support {
    margin-top: 10px;
    /*border-top: 1px dashed #F67A80;*/
}

.hotline_product {
    margin-top: 15px;
}

.detail-tab-user {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.detail-tab-user__avatar {
    width: 4.7rem;
    height: 4.7rem;
    margin-top: 3px;
}

.detail-tab-user__form {
    margin-left: 20px;
    flex-basis: 80%;
}

.detail-tab-user__row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-tab-user__rate svg {
    font-size: 1.85rem;

    cursor: pointer;
}

.detail-tab-user__msg {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 8px;
}

.detail-tab-user__textarea {
    padding: 15px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: 100%;
    height: 10rem;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    resize: none;

    background-color: rgba(0, 0, 0, 0.03);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.detail-tab-user__textarea::-webkit-scrollbar {
    display: none;
}

.list-product-service-images{
    overflow-x: scroll;
    display: -webkit-box;
    flex-direction: row;
}
.single-product-service-images {
    width: 250px;
    height: 250px;
    position: relative;
    margin: 5px;
    background-color: #f0f0f0;
    text-align: center;
}
.product-service-image {
    width: auto;
    height: 100%;
    object-fit: scale-down;
}
.text-bold {
    font-weight: bold;
}
.single-product {
    margin: 10px;
}

.collapsible {
    transition: transform 0.5s ease-out;
    transform-origin: top left;
}
.collapsedContent {
    transform: scaleY(0);
}

.contentCollapsed{
    height: 200px;
    overflow: hidden;
}
.darker-bottom {
    background: linear-gradient(to top,  rgba(147,147,147,1) 0%, rgba(226, 226, 226, .5) 50%,rgba(0,0,0,0) 100%);
    display: block;
    margin-top: -50px;
    width: 100%;
    height: 50px;
    margin-left: -4px;
    position:relative;
}
.btn--view-more {
    position: absolute;
    bottom: 0;
    margin-left: -20px;
}



