a.link {
    color: inherit;
}
a:not([href]), a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}
.link {
    color: inherit;
    margin: auto;
}
a {
    color: #5488c7;
    text-decoration: none;
    background-color: initial;
}


.post-feed-item {
    padding: .5rem;
    border-bottom: 1px solid #d6d6d7;
    cursor: pointer;
}
.post-layout-switcher .fa {
    font-size: 1.2rem;
}
.post-feed-item__info {
    padding-left: 20px;
    width: 100%;
    flex: 3;
}
.post-feed-item .post-meta--inline {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    margin-bottom: .25rem;
    min-width: 400px;
}
.post-title--inline {
    justify-content: center;
}
.post-title--inline h3 {
    font-size: 25px!important;
}

.avatar[data-v-5e990434] {
    display: block;
    width: 60px;
    height: auto;
    margin: auto;
    cursor: pointer;
    border-radius: 100%;
}

/* Nghia's dumb code */
.mb-15 {
    margin-bottom: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.pAround-15 {
    padding: 15px;
}
.turn-right {
    float: right;
}

.general-title{
    /* margin-right: 15px; */

}
.general-data{
    color: black;
    font-weight: 500;
    float: right;
}

.customer-info {
    display: flex;
    align-self: flex-start;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;

}
.customer-title{
    text-align: center;

}
.customer-main-title{
    font-size: 20px;
    font-weight: 500;
}
.customer-avt {
}
.customer-img {
    width: 60px;
    /* height: 93px; */
    border-radius: 50%;
}

.customer-data {

}

.invoice-description {
    padding-bottom: 85px;
    border-bottom: 1px #ccc solid;
}
.description-table table {

}
.tb-content-header {
    background-color: #F67A80;
}
.tb-content-header th{
    color: #fff;
}
.event-avt {
    width: 100%;
}

.event-name, .event-hour, .event-location {
    font-size: 20px;
    color: #7E7E7E;
    font-weight: 600;
}
.event-date, .event-address {

}
.event-cost {
    color: #F67A80;
    font-size: 20px;
    font-weight: 600;
}

.calc-cost {
    display: flex;
    width: 50%;
    margin-left: 47%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.calc-title {
    flex: 1;
    text-align: right;
    white-space: nowrap;
    margin: 10px;
}
.calc-data {
    flex: 1;
    text-align: right;
    margin: 10px;
}
.purchase-title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.purchase-data {
    color:#F67A80;
    font-size: 20px;
    font-weight: 600;
}
.btns {
    float: right;
}
.invoice-btn {
    background-color: #F67A80;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
}
