.dialog {
  position: fixed;
  inset: 0;
  z-index: 999;
  visibility: hidden;

  display: flex;
}

.dialog.show {
  visibility: visible;
}

.dialog__overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.4);

  transition: all 0.25s ease-out;
}

.dialog.show .dialog__overlay {
  opacity: 1;
}

.dialog__wrapper {
  z-index: 1;

  margin: auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(300%);
  opacity: 0.5;
  visibility: hidden;

  background-color: #f0f0f0;

  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.dialog.show .dialog__wrapper {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dialog__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 17px;
  text-align: start;
}

.dialog__description {
  font-size: 1.5rem;
}

.dialog__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.dialog__btn:first-child {
  margin-right: 10px;
}

.dialog .dialog__btn {
  font-size: 1.3rem;
  padding: 4px 8px;
}
