@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.MuiGrid-root .MuiGrid-container {
    font-size: 14px!important;
}
.Mui-selected {
    background: #720808;
}
.title {
    font-family: "Pacifico", cursive;
    font-size: clamp(36px, 0.6rem, 100px);
    color: #fff;
    text-shadow: 6px 4px #735b13;
    height: 12rem;
    transform: translateY(20%);
}

[class^=firework-] {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
}

.firework-1 {
    -webkit-animation: firework-lg 1.2s both infinite;
    animation: firework-lg 1.2s both infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    top: 30%;
    left: 15%;
}

.firework-2 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    top: 90%;
    left: 90%;
}

.firework-3 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    top: 40%;
    left: 85%;
}

.firework-4 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    top: 80%;
    left: 50%;
}

.firework-5 {
    -webkit-animation: firework-lg 1.2s both infinite;
    animation: firework-lg 1.2s both infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    top: 45%;
    left: 40%;
}

.firework-6 {
    -webkit-animation: firework-sm 1.2s both infinite;
    animation: firework-sm 1.2s both infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    top: 60%;
    left: 45%;
}

.firework-7 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    top: 45%;
    left: 35%;
}

.firework-8 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    top: 30%;
    left: 75%;
}

.firework-9 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    top: 60%;
    left: 25%;
}

.firework-10 {
    -webkit-animation: firework-sm 1.2s both infinite;
    animation: firework-sm 1.2s both infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    top: 85%;
    left: 35%;
}

.firework-11 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    top: 90%;
    left: 40%;
}

.firework-12 {
    -webkit-animation: firework-lg 1.2s both infinite;
    animation: firework-lg 1.2s both infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    top: 90%;
    left: 85%;
}

.firework-13 {
    -webkit-animation: firework-md 1.2s both infinite;
    animation: firework-md 1.2s both infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    top: 30%;
    left: 25%;
}

.firework-14 {
    -webkit-animation: firework-lg 1.2s both infinite;
    animation: firework-lg 1.2s both infinite;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    top: 85%;
    left: 30%;
}

.firework-15 {
    -webkit-animation: firework-lg 1.2s both infinite;
    animation: firework-lg 1.2s both infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    top: 90%;
    left: 80%;
}

@-webkit-keyframes firework-sm {
    0%, 100% {
        opacity: 0;
    }
    10%, 70% {
        opacity: 1;
    }
    100% {
        box-shadow: -0.5rem 0rem 0 #fff, 0.5rem 0rem 0 #fff, 0rem -0.5rem 0 #fff, 0rem 0.5rem 0 #fff, 0.35rem -0.35rem 0 #fff, 0.35rem 0.35rem 0 #fff, -0.35rem -0.35rem 0 #fff, -0.35rem 0.35rem 0 #fff;
    }
}

@keyframes firework-sm {
    0%, 100% {
        opacity: 0;
    }
    10%, 70% {
        opacity: 1;
    }
    100% {
        box-shadow: -0.5rem 0rem 0 #fff, 0.5rem 0rem 0 #fff, 0rem -0.5rem 0 #fff, 0rem 0.5rem 0 #fff, 0.35rem -0.35rem 0 #fff, 0.35rem 0.35rem 0 #fff, -0.35rem -0.35rem 0 #fff, -0.35rem 0.35rem 0 #fff;
    }
}
@-webkit-keyframes firework-md {
    0%, 100% {
        opacity: 0;
    }
    10%, 70% {
        opacity: 1;
    }
    100% {
        box-shadow: -0.7rem 0rem 0 #fff, 0.7rem 0rem 0 #fff, 0rem -0.7rem 0 #fff, 0rem 0.7rem 0 #fff, 0.49rem -0.49rem 0 #fff, 0.49rem 0.49rem 0 #fff, -0.49rem -0.49rem 0 #fff, -0.49rem 0.49rem 0 #fff;
    }
}
@keyframes firework-md {
    0%, 100% {
        opacity: 0;
    }
    10%, 70% {
        opacity: 1;
    }
    100% {
        box-shadow: -0.7rem 0rem 0 #fff, 0.7rem 0rem 0 #fff, 0rem -0.7rem 0 #fff, 0rem 0.7rem 0 #fff, 0.49rem -0.49rem 0 #fff, 0.49rem 0.49rem 0 #fff, -0.49rem -0.49rem 0 #fff, -0.49rem 0.49rem 0 #fff;
    }
}
@-webkit-keyframes firework-lg {
    0%, 100% {
        opacity: 0;
    }
    10%, 70% {
        opacity: 1;
    }
    100% {
        box-shadow: -0.9rem 0rem 0 #fff, 0.9rem 0rem 0 #fff, 0rem -0.9rem 0 #fff, 0rem 0.9rem 0 #fff, 0.63rem -0.63rem 0 #fff, 0.63rem 0.63rem 0 #fff, -0.63rem -0.63rem 0 #fff, -0.63rem 0.63rem 0 #fff;
    }
}
@keyframes firework-lg {
    0%, 100% {
        opacity: 0;
    }
    10%, 70% {
        opacity: 1;
    }
    100% {
        box-shadow: -0.9rem 0rem 0 #fff, 0.9rem 0rem 0 #fff, 0rem -0.9rem 0 #fff, 0rem 0.9rem 0 #fff, 0.63rem -0.63rem 0 #fff, 0.63rem 0.63rem 0 #fff, -0.63rem -0.63rem 0 #fff, -0.63rem 0.63rem 0 #fff;
    }
}
