.checkbox {
  position: relative;

  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin: 3px 0;

  cursor: pointer;
}

.checkbox__input {
  display: none;
  margin-right: 5px;
}

.checkbox .checkmark {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid gray;
  transform: translateY(-50%);

  transition: all 0.2s ease-out;
}

.checkbox__input:checked ~ .checkmark {
  border-color: red;
}

.checkbox .checkmark:after {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;

  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;

  background-color: transparent;

  transition: all 0.1s ease-out;
}

.checkbox__input:checked ~ .checkmark:after {
  background-color: red;
}
